# SOPHY Database
### Southern Ocean Phytoplankton Database
- Made by Ayush Nag and Hannah-Joy Warren (add others)
- UW Oceanography (add other credits)

In [2]:
import sqlite3
import pandas as pd
import pyworms
from pandas import DataFrame

In [10]:
con = sqlite3.connect("sophy.db")
cur = con.cursor()

Sample functions to use

In [12]:
# functions with common use cases
# results at lat long
# distance and time for lat long
# take in a list of values that represent a path and get all results (within certain range of provided values )
# fronts, sectors
# default definition of sectors, fronts that can be easily updated 

# filter by front zones and sectors

Read from the SOPHY database and receive a DataFrame <br />
Write SQLite queries directly

In [20]:
import warnings


query = "select scientific_name from microscopy"
pd.read_sql_query(query, con)

                scientific_name
0         Plagioselmis prolonga
1               Teleaulax acuta
2           Adinimonas oviforme
3     Pachydinium mediterraneum
4        Amphisolenia bidentata
...                         ...
1567               Tripos teres
1568      Lebouridinium glaucum
1569            Tripos petersii
1570        Halamphora terroris
1571       Diplopsalopsis minor

[1572 rows x 1 columns]

In [3]:
pd.read_pickle(r"C:\users\ayush nag\Downloads\data\02_intermediate\SOCCOM_bgc_argo_float_data\all_floatdata_analyzed.pkl")

,floatnum,date,Lat,Lon,mlp,Temperature,Salinity,Pressure,Depth,Sigma_theta,...,TALK_LIAR,pCO2_LIAR,N_PROF,AbsSalt,ConservTemp,PotDensity_kg_m3,InsituDensity,floatnum_nprof,MLD,doy
0,5904675,2016-01-13 07:34:00,-39.451,99.47,50.56,"[2.5593, 2.6215, 2.7097, 2.8429, 2.9544, 3.125...","[34.6566, 34.6251, 34.5933, 34.5586, 34.5265, ...","[1798.82, 1699.35, 1598.98, 1498.3, 1398.82, 1...","[1777.472, 1679.576, 1580.748, 1481.568, 1383....","[27.661, 27.63, 27.596, 27.556, 27.52, 27.469,...",...,"[2346.0, 2342.0, 2340.0, 2339.0, 2335.0, 2330....","[533.5, 543.6, 558.7, 569.4, 576.0, 578.8, 575...",0.0,"[34.82595535721135, 34.79407725005841, 34.7618...","[2.430856838546405, 2.5009163009840334, 2.5966...","[1027.6662554229647, 1027.6349357059116, 1027....","[1035.9427057410494, 1035.4596884950454, 1034....",5904675_0.0,50.263656,13
1,5904675,2016-01-23 16:15:00,-39.563,99.566,17.39,"[2.5736, 2.6411, 2.7379, 2.8338, 2.9767, 3.124...","[34.656, 34.6189, 34.5955, 34.5586, 34.5194, 3...","[1799.41, 1699.64, 1598.78, 1498.91, 1398.75, ...","[1778.034, 1679.844, 1580.535, 1482.154, 1383....","[27.66, 27.623, 27.596, 27.557, 27.513, 27.472...",...,"[2349.0, 2342.0, 2343.0, 2339.0, 2335.0, 2331....","[538.8, 546.9, 558.7, 569.1, 573.1, 574.0, 570...",1.0,"[34.82535309064243, 34.78784725522959, 34.7640...","[2.44490384079823, 2.5202879334917996, 2.62447...","[1027.6645827362636, 1027.6283215903147, 1027....","[1035.9430113967492, 1035.4535742652433, 1034....",5904675_1.0,17.405178,23
2,5904675,2016-02-02 23:45:00,-39.603,99.612,52.58,"[2.5567, 2.6335, 2.7503, 2.8623, 2.9733, 3.148...","[34.6547, 34.6232, 34.5874, 34.5537, 34.5251, ...","[1798.43, 1700.07, 1599.88, 1499.64, 1399.11, ...","[1777.063, 1680.261, 1581.612, 1482.868, 1383....","[27.66, 27.628, 27.588, 27.551, 27.517, 27.467...",...,"[2346.0, 2343.0, 2342.0, 2339.0, 2336.0, 2330....","[543.1, 553.2, 569.0, 578.2, 582.8, 581.8, 578...",2.0,"[34.82404599292884, 34.792169926889706, 34.755...","[2.4283489049490923, 2.5127101446961255, 2.636...","[1027.6649500625397, 1027.6324082483393, 1027....","[1035.9397942575665, 1035.4598927679708, 1034....",5904675_2.0,52.640543,33
3,5904675,2016-02-13 07:58:00,-39.8,99.781,48.72,"[2.5731, 2.626, 2.7259, 2.8515, 2.9946, 3.1686...","[34.6488, 34.6248, 34.5936, 34.5581, 34.5163, ...","[1798.67, 1699.46, 1599.35, 1498.73, 1400.11, ...","[1777.268, 1679.631, 1581.062, 1481.945, 1384....","[27.654, 27.629, 27.595, 27.555, 27.509, 27.46...",...,"[2345.0, 2343.0, 2341.0, 2339.0, 2335.0, 2330....","[542.8, 549.4, 563.2, 577.1, 580.8, 579.4, 574...",3.0,"[34.81811733768517, 34.79377543115336, 34.7621...","[2.4445533103254418, 2.505347931370142, 2.6126...","[1027.6588593527174, 1027.6343159723037, 1027....","[1035.934078536562, 1035.459364297524, 1034.96...",5904675_3.0,48.726109,44
4,5904675,2016-02-23 14:43:00,-39.94,99.788,57.20,"[2.5717, 2.6486, 2.7346, 2.8577, 3.002, 3.1533...","[34.6534, 34.6184, 34.5871, 34.553, 34.515, 34...","[1798.77, 1700.15, 1599.19, 1498.93, 1399.42, ...","[1777.344, 1680.289, 1580.884, 1482.123, 1384....","[27.658, 27.622, 27.589, 27.551, 27.507, 27.46...",...,"[2347.0, 2343.0, 2340.0, 2338.0, 2334.0, 2330....","[542.0, 553.2, 564.7, 574.2, 579.1, 581.0, 574...",4.0,"[34.82273216156776, 34.78733816450332, 34.7556...","[2.443114790457301, 2.527646665193389, 2.62127...","[1027.6626509837445, 1027.62728448975, 1027.59...","[1035.9383221922096, 1035.4545062675938, 1034....",5904675_4.0,57.116978,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10411,5904186,2015-02-08 20:03:00,-48.509,221.179,47.19,"[2.7834, 2.9152, 3.1154, 3.3354, 3.6846, 4.086...","[34.5182, 34.4804, 34.4343, 34.3937, 34.3522, ...","[1699.05, 1598.94, 1499.06, 1399.3, 1299.85, 1...","[1677.884, 1579.394, 1481.084, 1382.847, 1284....","[27.531, 27.488, 27.433, 27.38, 27.313, 27.249...",...,"[2331.0, 2324.0, 2315.0, 2311.0, 2305.0, 2299....","[569.1, 572.8, 565.2, 559.5, 547.8, 535.4, 524...",57.0,"[34.687044996778035, 34.64863678084097, 34.601...","[2.6617848681286502, 2.8007299589035606, 3.007...","[1027.5359608030965, 1027.493206976031, 1027.4...","[1035.353435757597, 1034.8528489727373, 1034.3...",5904186_57.0,46.964385,39
10412,5904186,2015-02-14 02:11:00,-48.315,221.492,43.83,"[2.7612, 2.9041, 3.0802, 3.2903, 3.5951, 3.954...","[34.5234, 34.4827, 34.4394, 34.4008, 34.3597, ...","[1698.32, 1598.95, 1499.04, 1399.72, 1299.6, 1...","[1677.196, 1579.432, 1481.091, 1383.285, 1284....","[27.537, 27.491, 27.44, 27.389, 27.327, 27.268...",...,"[2333.0, 2325.0, 2317.0, 2313.0, 2306.0, 2300....","[575.7, 582.8, 580.5, 569.8, 557.5, 549.8, 535...",58.0,"[34.69223667671583, 34.65091555099333, 34.6069...","[2.639893088222336, 2.7897466810855795, 2.9725...","[1027.5419949800375, 1027.4959927427958, 1027....","[1035.3571120286585, 1034.8561251971175, 1034....",5904186_58.0,43.775103,45
10413,5904186,2015-02-19 09:17:00,-48.085,221.594,60.01,"[2.7567, 2.8987, 3.0774, 3.3069, 3.5835, 4.002...","[34.525, 34.4835, 34.441, 34.3979, 34.3619, 34...","[1698.98, 1598.8, 1499.16, 1400.02, 1299.59, 1...","[1677.88, 1579.318, 1481.24, 1383.61, 1284.663...","[27.538, 27.492, 27.442, 27.386, 27.33, 27.262...",...,"[2333.0, 2325.0, 2317.0, 2312.0, 2306.0, 2299....","[568.6, 572.2, 570.8, 562.7, 549.9, 538.4, 529...",59.0,"[34.69383626051838, 34.651704895751486, 34.608...","[2.635381122780714, 2.784420070713309, 2.96974...","[1027.543658737319, 1027.4970925189953, 1027.4...","[1035.3619404653614, 1034.8567671271517, 1034....",5904186_59.0,59.864578,50
10414,5904186,2015-02-24 16:00:00,-47.892,221.592,72.51,"[2.7563, 2.8741, 3.058, 3.2798, 3.5862, 3.9601...","[34.5254, 34.4878, 34.4451, 34.4044, 34.3619, ...","[1698.36, 1599.24, 1498.7, 1399.32, 1299.21, 1...","[1677.3, 1579.779, 1480.814, 1382.945, 1284.31...","[27.539, 27.498, 27.447, 27.393, 27.33, 27.268...",...,"[2334.0, 2327.0, 2318.0, 2313.0, 2306.0, 2300....","[566.6, 575.5, 575.0, 568.3, 549.2, 541.7, 525...",60.0,"[34.6942339805665, 34.656023560581566, 34.6126...","[2.635034731320609, 2.7600521748050144, 2.9505...","[1027.5440048858882, 1027.5026815118633, 1027....","[1035.3594984596766, 1034.8653437327794, 1034....",5904186_60.0,72.289853,55
10415,5904186,2015-03-01 22:36:00,-47.754,221.668,74.67,"[2.7253, 2.8338, 3.0147, 3.2079, 3.526, 3.8605...","[34.5338, 34.5028, 34.4536, 34.4153, 34.368, 3...","[1698.02, 1599.3, 1499.56, 1398.64, 1298.89, 1...","[1676.987, 1579.858, 1481.679, 1382.293, 1284....","[27.548, 27.513, 27.457, 27.409, 27.34, 27.284...",...,"[2335.0, 2330.0, 2320.0, 2316.0, 2308.0, 2302....","[566.1, 572.8, 573.2, 566.0, 553.6, 540.9, 528...",61.0,"[34.70266634271546, 34.67108807631099, 34.6212...","[2.604395292510142, 2.720101371851931, 2.90763...","[1027.553366493998, 1027.5181715605324, 1027.4...","[1035.368620900007, 1034.8826374923935, 1034.3...",5904186_61.0,74.417616,60