# SOPHY Database
### Southern Ocean Phytoplankton Database
- Made by Ayush Nag and Hannah-Joy Warren (add others)
- UW Oceanography (add other credits)

In [1]:
import sqlite3
import pandas as pd
import pyworms
from pandas import DataFrame

In [10]:
con = sqlite3.connect("sophy.db")
cur = con.cursor()

Sample functions to use

In [12]:
# functions with common use cases
# results at lat long
# distance and time for lat long
# take in a list of values that represent a path and get all results (within certain range of provided values )
# fronts, sectors
# default definition of sectors, fronts that can be easily updated 

# filter by front zones and sectors

Read from the SOPHY database and receive a DataFrame <br />
Write SQLite queries directly

In [20]:
import warnings


query = "select scientific_name from microscopy"
pd.read_sql_query(query, con)

                scientific_name
0         Plagioselmis prolonga
1               Teleaulax acuta
2           Adinimonas oviforme
3     Pachydinium mediterraneum
4        Amphisolenia bidentata
...                         ...
1567               Tripos teres
1568      Lebouridinium glaucum
1569            Tripos petersii
1570        Halamphora terroris
1571       Diplopsalopsis minor

[1572 rows x 1 columns]